# ===========================
# Dataset
# ===========================
data/raw/
data/processed/
data/interim/

# Generated metadata
data/metadata/*.csv
data/metadata/*.json

# Split datasets
data/split/

# Model files
*.pth
*.pt
*.onnx
*.ckpt

# MLflow
mlruns/

# DVC cache
.dvc/cache/

# Python cache
*.pyc
__pycache__/

# Jupyter
.ipynb_checkpoints/

# Logs
logs/