# ==========================================
# Python
# ==========================================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/

# ==========================================
# Virtual Environment
# ==========================================
.venv/
venv/
env/

# ==========================================
# VS Code
# ==========================================
.vscode/

# ==========================================
# Logs
# ==========================================
*.log

# ==========================================
# Environment Variables
# ==========================================
.env

# ==========================================
# Kaggle Credentials
# ==========================================
.kaggle/
kaggle.json

# ==========================================
# Dataset
# ==========================================
data/raw/
data/processed/
data/split/

# Keep metadata
!data/metadata/

# ==========================================
# Artifacts
# ==========================================
artifacts/

# ==========================================
# Jupyter
# ==========================================
.ipynb_checkpoints/

# ==========================================
# OS Files
# ==========================================
.DS_Store
Thumbs.db